.radio-item:not(:last-child) {
  margin-bottom: 20px;
}

.radio-item {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-layout-sider-collapsed .feed-title {
  font-size: 14px;
}
