/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

#root {
}

li {
  list-style: none;
}

.news-list {
  margin-bottom: 20px;
  & > li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.news-item {
  display: flex;
  flex-direction: column;
  &__heading {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}

#root {
  width: 100%;
  height: 100%;
}

@media print {
  ::-webkit-scrollbar,
  #aside,
  #header,
  #search-button,
  #print-button,
  #clear-button,
  .news-item-checkbox {
    display: none;
  }
}
